@page "/invoice_items/address/{IdString}"
@using Clients.Clients
@using Clients.Interfaces
@using Contracts.Requests.InvoiceItem
@using Contracts.Responses.InvoiceItem
@using Domain.Exceptions

@inject IInvoiceItemClient _invoiceItemClient
@inject NavigationManager _navigationManager

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Invoice items</PageTitle>
<div style="display: flex; align-items: center;">
    <h1>Invoice items</h1>    
    <div style="margin-left: 20px;">
        <button @onclick="AddClick">Add</button>
    </div>
</div>

@if (invoiceItemList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoiceItem in invoiceItemList.InvoiceItems)
            {
                <tr>                    
                    <td>@invoiceItem.Name</td>
                    <td>@invoiceItem.Price</td>
                    <td>
                        <NavLink class="nav-link" href="@($"invoice_items/{invoiceItem.Id}")">
                            @invoiceItem.Id
                        </NavLink>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private InvoiceItemListResponse? invoiceItemList;
    [Parameter]
    public string IdString { get; set; } = string.Empty;

    private Guid _addressId;
    private bool _isEditable = false;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(IdString) || !Guid.TryParse(IdString, out _addressId))
        {
            throw new NotFoundException("Invalid id format");
        }

        await GetInvoiceItems();
    }

    private async Task GetInvoiceItems()
    {
        InvoiceItemGetRequest request = new()
        {
            AddressId = _addressId
        }; 

        invoiceItemList = await _invoiceItemClient.Get(request);
    }

    private void AddClick()
    {
        _navigationManager.NavigateTo($"/invoice_items/add", false);
    }
}
