@page "/invoice_items/add"
@using Clients.Clients
@using Clients.Interfaces
@using Contracts.Requests.InvoiceItem
@using Contracts.Responses
@using Contracts.Responses.InvoiceItem
@using Domain.Exceptions

@inject NavigationManager _navigationManager
@inject IInvoiceItemClient _invoiceItemClient

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Invoice item add</PageTitle>

<div style="display: flex; align-items: center;">
    <div style="margin-left: 20px;">
    <button @onclick="AddClick">Add</button>
    </div>      
</div>

<b>AddressId:</b>
<br />
<input type="text" @bind="_invoiceItem.AddressId" />
<br />
<b>Name:</b>
<br />
<input type="text" @bind="_invoiceItem.Name" />
<br />
<b>Price:</b>
<br />
<input type="number" step="0.01" @bind-value="_invoiceItem.Price" />
<br />
<b>Quantity:</b>
<br />
<input type="number" step="1" @bind-value="_invoiceItem.Quantity" />
<br />

@code {
    private InvoiceItemAddRequest _invoiceItem = new();

    protected override async Task OnInitializedAsync()
    {
        
    }

    private async Task AddClick()
    {
        AddResponse response = await _invoiceItemClient.Add(_invoiceItem);
        await _invoiceItemClient.Get(response.Id);

        _navigationManager.NavigateTo($"/invoice_items/{response.Id}", false);
    }
}
