@page "/items/{IdString}"
@using Clients.Clients
@using Clients.Interfaces
@using Contracts.Requests.Item
@using Contracts.Responses.Item
@using Domain.Exceptions

@inject NavigationManager _navigationManager
@inject IItemClient _itemClient

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Item</PageTitle>
@if (item == null)
{
    <h1>Item</h1>
    <p><em>Loading...</em></p>
}
else
{
    <div style="display: flex; align-items: center;">
        <h1>@item.Name</h1>
        <div style="margin-left: 20px;">
            <button @onclick="EditClick">Edit</button>
        </div>
    </div>
    <b>Name:</b>
    <br />
    @item.Name
    <br />
    <b>Price:</b>
    <br />
    @item.Price
    <br />
    <b>Quantity:</b>
    <br />
    @item.Quantity
    <br />    
}

@code {
    [Parameter]
    public string IdString { get; set; } = string.Empty;

    private Guid itemId;
    private ItemResponse? item;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(IdString) || !Guid.TryParse(IdString, out itemId))
        {
            throw new NotFoundException("Invalid id format");
        }

        item = await _itemClient.Get(itemId);
    }

    private void EditClick()
    {
        _navigationManager.NavigateTo($"/items/update/{IdString}", false);
    }

    private async Task DeleteClick()
    {
        await _itemClient.Delete(itemId);
        _navigationManager.NavigateTo("/items", false);
    }
}
