@page "/items/add"
@using Clients.Clients
@using Clients.Interfaces
@using Common
@using Contracts.Requests.Item
@using Contracts.Responses
@using Contracts.Responses.Item
@using Domain.Exceptions

@inject NavigationManager _navigationManager
@inject IItemClient _itemClient

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Item add</PageTitle>

<div style="display: flex; align-items: center;">
    <div style="margin-left: 20px;">
    <button @onclick="AddClick">Add</button>
    </div>      
</div>

@if (_error != null)
{
    <h1>Error</h1>
    @_error.Message
    <br />
    @_error.ExtendedMessage
    <br />
}
<b>CustomerId:</b>
<br />
<input type="text" @bind="item.CustomerId" />
<br />
<b>Name:</b>
<br />
<input type="text" @bind="item.Name" />
<br />
<b>Price:</b>
<br />
<input type="number" step="0.01" @bind-value="item.Price" />
<br />
<b>Quantity:</b>
<br />
<input type="number" step="1" @bind-value="item.Quantity" />
<br />

@code {
    private ItemAddRequest item = new();
    private ErrorModel? _error;

    protected override async Task OnInitializedAsync()
    {
        
    }

    private async Task AddClick()
    {
        var response = await _itemClient.Add(item);
        
        bool sucess = response.Match(
            addResponse =>
            {
                _navigationManager.NavigateTo($"/items/{addResponse.Id}", false);
                _error = null;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );
    }
}
