@page "/sellers/add"
@using Clients.Clients
@using Clients.Interfaces
@using Common
@using Contracts.Requests.Seller
@using Contracts.Responses
@using Contracts.Responses.Seller
@using Domain.Exceptions

@inject NavigationManager _navigationManager
@inject ISellerClient _sellerClient

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Invoice address add</PageTitle>

<div style="display: flex; align-items: center;">
    <div style="margin-left: 20px;">
    <button @onclick="AddClick">Add</button>
    </div>      
</div>

@if (_error != null)
{
    <h1>Error</h1>
    @_error.Message
    <br />
    @_error.ExtendedMessage
    <br />
}
<b>User Id:</b>
<br />
<input type="text" @bind="seller.UserId" />
<br />
<b>Company name:</b>
<br />
<input type="text" @bind="seller.CompanyName" />
<br />
<b>Company number:</b>
<br />
<input type="text" @bind="seller.CompanyNumber" />
<br />
<b>Email:</b>
<br />
<input type="text" @bind="seller.Email" />
<br />
<b>Phone:</b>
<br />
<input type="text" @bind="seller.Phone" />
<br />
<b>State:</b>
<br />
<input type="text" @bind="seller.State" />
<br />
<b>City:</b>
<br />
<input type="text" @bind="seller.City" />
<br />
<b>Street:</b>
<br />
<input type="text" @bind="seller.Street" />
<br />
<b>Bank name:</b>
<br />
<input type="text" @bind="seller.BankName" />
<br />
<b>Bank number:</b>
<br />
<input type="text" @bind="seller.BankNumber" />

@code {
    private SellerAddRequest seller = new();
    private ErrorModel? _error;

    protected override async Task OnInitializedAsync()
    {
    }

    private async Task AddClick()
    {
        var response = await _sellerClient.Add(seller);

        bool sucess = response.Match(
            addResponse =>
            {
                _navigationManager.NavigateTo($"/sellers/{addResponse.Id}", false);
                _error = null;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );
    }
}
